# Explore here

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/raw/StudentPerformanceFactors.csv')

df

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6602,25,69,High,Medium,No,7,76,Medium,Yes,1,High,Medium,Public,Positive,2,No,High School,Near,Female,68
6603,23,76,High,Medium,No,8,81,Medium,Yes,3,Low,High,Public,Positive,2,No,High School,Near,Female,69
6604,20,90,Medium,Low,Yes,6,65,Low,Yes,3,Low,Medium,Public,Negative,2,No,Postgraduate,Near,Female,68
6605,10,86,High,High,Yes,6,91,High,Yes,2,Low,Medium,Private,Positive,3,No,High School,Far,Female,68
6606,15,67,Medium,Low,Yes,9,94,Medium,Yes,0,Medium,Medium,Public,Positive,4,No,Postgraduate,Near,Male,64

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6607 entries, 0 to 6606
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Hours_Studied               6607 non-null   int64
 1   Attendance                  6607 non-null   int64
 2   Parental_Involvement        6607 non-null   object
 3   Access_to_Resources         6607 non-null   object
 4   Extracurricular_Activities  6607 non-null   object
 5   Sleep_Hours                 6607 non-null   int64
 6   Previous_Scores             6607 non-null   int64
 7   Motivation_Level            6607 non-null   object
 8   Internet_Access             6607 non-null   object
 9   Tutoring_Sessions           6607 non-null   int64
 10  Family_Income               6607 non-null   object
 11  Teacher_Quality             6529 non-null   object
 12  School_Type                 6607 non-null   object
 13  Peer_Influence              6607 non-null   object
 14  Physical_Activity           6607 non-null   int64
 15  Learning_Disabilities       6607 non-null   object
 16  Parental_Education_Level    6517 non-null   object
 17  Distance_from_Home          6540 non-null   object
 18  Gender                      6607 non-null   object
 19  Exam_Score                  6607 non-null   int64
dtypes: int64(7), object(13)
memory usage: 1.0+ MB

In [4]:
df.describe()

,Hours_Studied,Attendance,Sleep_Hours,Previous_Scores,Tutoring_Sessions,Physical_Activity,Exam_Score
count,6607.000000,6607.000000,6607.00000,6607.000000,6607.000000,6607.000000,6607.000000
mean,19.975329,79.977448,7.02906,75.070531,1.493719,2.967610,67.235659
std,5.990594,11.547475,1.46812,14.399784,1.230570,1.031231,3.890456
min,1.000000,60.000000,4.00000,50.000000,0.000000,0.000000,55.000000
25%,16.000000,70.000000,6.00000,63.000000,1.000000,2.000000,65.000000
50%,20.000000,80.000000,7.00000,75.000000,1.000000,3.000000,67.000000
75%,24.000000,90.000000,8.00000,88.000000,2.000000,4.000000,69.000000
max,44.000000,100.000000,10.00000,100.000000,8.000000,6.000000,101.000000

In [5]:
df2 = df.dropna()
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6378 entries, 0 to 6606
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Hours_Studied               6378 non-null   int64
 1   Attendance                  6378 non-null   int64
 2   Parental_Involvement        6378 non-null   object
 3   Access_to_Resources         6378 non-null   object
 4   Extracurricular_Activities  6378 non-null   object
 5   Sleep_Hours                 6378 non-null   int64
 6   Previous_Scores             6378 non-null   int64
 7   Motivation_Level            6378 non-null   object
 8   Internet_Access             6378 non-null   object
 9   Tutoring_Sessions           6378 non-null   int64
 10  Family_Income               6378 non-null   object
 11  Teacher_Quality             6378 non-null   object
 12  School_Type                 6378 non-null   object
 13  Peer_Influence              6378 non-null   object
 14  Physical_Activity           6378 non-null   int64
 15  Learning_Disabilities       6378 non-null   object
 16  Parental_Education_Level    6378 non-null   object
 17  Distance_from_Home          6378 non-null   object
 18  Gender                      6378 non-null   object
 19  Exam_Score                  6378 non-null   int64
dtypes: int64(7), object(13)
memory usage: 1.0+ MB

In [6]:
df2 = df[df['Exam_Score']<101]
df2.describe()

,Hours_Studied,Attendance,Sleep_Hours,Previous_Scores,Tutoring_Sessions,Physical_Activity,Exam_Score
count,6606.000000,6606.000000,6606.000000,6606.000000,6606.000000,6606.000000,6606.000000
mean,19.974266,79.974720,7.029216,75.067817,1.493188,2.967605,67.230548
std,5.990424,11.546219,1.468177,14.399184,1.229907,1.031309,3.868502
min,1.000000,60.000000,4.000000,50.000000,0.000000,0.000000,55.000000
25%,16.000000,70.000000,6.000000,63.000000,1.000000,2.000000,65.000000
50%,20.000000,80.000000,7.000000,75.000000,1.000000,3.000000,67.000000
75%,24.000000,90.000000,8.000000,88.000000,2.000000,4.000000,69.000000
max,44.000000,100.000000,10.000000,100.000000,8.000000,6.000000,100.000000

In [7]:
from sklearn.model_selection import train_test_split

X = df2.drop(columns=['Exam_Score'])
y = df2['Exam_Score']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender
5937,11,75,High,High,Yes,9,77,Medium,No,1,High,High,Private,Neutral,2,Yes,College,Moderate,Male
4417,8,73,Medium,High,No,8,78,High,Yes,0,Medium,High,Private,Negative,3,No,High School,Near,Male
2949,10,76,Medium,Low,No,4,68,Medium,Yes,1,High,Low,Private,Neutral,6,No,College,Near,Male
3086,20,84,Low,Low,No,7,74,Low,Yes,1,High,Medium,Public,Neutral,3,No,Postgraduate,Near,Female
5820,20,62,Medium,Medium,No,4,98,High,Yes,1,High,Low,Public,Negative,4,No,High School,Near,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3773,15,69,High,Low,No,9,79,Low,Yes,1,Medium,NaN,Private,Positive,2,No,High School,Moderate,Female
5192,23,68,Medium,High,Yes,6,70,Medium,Yes,4,Medium,Medium,Public,Positive,2,No,High School,Near,Male
5227,22,77,Medium,High,No,6,71,High,Yes,3,Low,Medium,Public,Negative,4,No,High School,Far,Female
5391,21,61,High,Medium,Yes,8,83,High,No,1,Low,NaN,Private,Neutral,3,No,College,Near,Female
860,21,62,Medium,Low,No,6,74,High,Yes,0,Low,High,Private,Positive,3,Yes,Postgraduate,Far,Male

In [9]:
cols = X_train.columns

cols_num = df2._get_numeric_data().columns
cols_num

Index(['Hours_Studied', 'Attendance', 'Sleep_Hours', 'Previous_Scores',
       'Tutoring_Sessions', 'Physical_Activity', 'Exam_Score'],
      dtype='object')

In [10]:
cols_cat = list(set(cols) - set(cols_num))

cols_cat

['Motivation_Level',
 'Learning_Disabilities',
 'Extracurricular_Activities',
 'School_Type',
 'Parental_Education_Level',
 'Distance_from_Home',
 'Family_Income',
 'Gender',
 'Internet_Access',
 'Parental_Involvement',
 'Teacher_Quality',
 'Access_to_Resources',
 'Peer_Influence']

In [15]:
for col in cols_cat:
    df2[col+'_num'] = pd.factorize(df2[col])[0]

df3 = df2.drop(cols_cat, axis=1)

df3

C:\Users\felip\AppData\Local\Temp\ipykernel_6676\3794620984.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[col+'_num'] = pd.factorize(df2[col])[0]
C:\Users\felip\AppData\Local\Temp\ipykernel_6676\3794620984.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[col+'_num'] = pd.factorize(df2[col])[0]
C:\Users\felip\AppData\Local\Temp\ipykernel_6676\3794620984.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[col+'_num'] = pd.factorize(df2[col])[0]
C:\Users\felip\AppData\Local\Temp\ipykernel_6676\3794620984.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[col+'_num'] = pd.factorize(df2[col])[0]
C:\Users\felip\AppData\Local\Temp\ipykernel_6676\3794620984.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[col+'_num'] = pd.factorize(df2[col])[0]
C:\Users\felip\AppData\Local\Temp\ipykernel_6676\3794620984.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[col+'_num'] = pd.factorize(df2[col])[0]
C:\Users\felip\AppData\Local\Temp\ipykernel_6676\3794620984.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[col+'_num'] = pd.factorize(df2[col])[0]
C:\Users\felip\AppData\Local\Temp\ipykernel_6676\3794620984.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[col+'_num'] = pd.factorize(df2[col])[0]
C:\Users\felip\AppData\Local\Temp\ipykernel_6676\3794620984.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[col+'_num'] = pd.factorize(df2[col])[0]
C:\Users\felip\AppData\Local\Temp\ipykernel_6676\3794620984.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[col+'_num'] = pd.factorize(df2[col])[0]
C:\Users\felip\AppData\Local\Temp\ipykernel_6676\3794620984.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[col+'_num'] = pd.factorize(df2[col])[0]
C:\Users\felip\AppData\Local\Temp\ipykernel_6676\3794620984.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[col+'_num'] = pd.factorize(df2[col])[0]
C:\Users\felip\AppData\Local\Temp\ipykernel_6676\3794620984.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[col+'_num'] = pd.factorize(df2[col])[0]

,Hours_Studied,Attendance,Sleep_Hours,Previous_Scores,Tutoring_Sessions,Physical_Activity,Exam_Score,Motivation_Level_num,Learning_Disabilities_num,Extracurricular_Activities_num,School_Type_num,Parental_Education_Level_num,Distance_from_Home_num,Family_Income_num,Gender_num,Internet_Access_num,Parental_Involvement_num,Teacher_Quality_num,Access_to_Resources_num,Peer_Influence_num
0,23,84,7,73,0,3,67,0,0,0,0,0,0,0,0,0,0,0,0,0
1,19,64,8,59,2,4,61,0,0,0,0,1,1,1,1,0,0,0,1,1
2,24,98,7,91,2,4,74,1,0,1,0,2,0,1,0,0,1,0,1,2
3,29,89,8,98,1,4,71,1,0,1,0,0,1,1,0,0,0,0,1,1
4,19,92,6,65,3,4,70,1,0,1,0,1,0,1,1,0,1,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6602,25,69,7,76,1,2,68,1,0,0,0,0,0,2,1,0,2,0,1,0
6603,23,76,8,81,3,2,69,1,0,0,0,0,0,0,1,0,2,1,1,0
6604,20,90,6,65,3,2,68,0,0,1,0,2,0,0,1,0,1,0,2,1
6605,10,86,6,91,2,3,68,2,0,1,1,0,2,0,1,0,2,0,0,0
6606,15,67,9,94,0,4,64,1,0,1,0,2,0,1,0,0,1,0,2,0

In [ ]:
# Vamos a probar primero por un arbol de decisión
from sklearn.tree import DecisionTreeRegressor

model = DecisionTreeRegressor(random_state=42)
model.fit(X_train, y_train)

#Tenemos que factorizar las variables categóricas

ValueError: could not convert string to float: 'High'